$padding: 10% 15%;
$padding-sm: 5% 10%;
$padding-xs: 10% 5%;

/* ----- COLORS ----- */

$color-primary: #4e4e4e;
$color-secondary: hsl(0, 0%, 94%);
$color-accent: #b9b9b9;

$color-white: #ffffff;
$color-black: rgb(0, 0, 0);

$color-blue: #5c4dee;
$color-purple: #7e36f6;
$color-red: rgb(255, 0, 0);
$color-gradient: linear-gradient(
  188deg,
  rgba(92, 77, 238, 1) 0%,
  rgba(126, 54, 246, 1) 100%
);

// background: rgb(92,77,238);
// background: linear-gradient(188deg, rgba(92,77,238,1) 0%, rgba(126,54,246,1) 100%);

// $color-green-dark: #10442e;
// $color-green-light: #cfdedb;

$color-shadow-light: rgba($color-white, 0.5);

// FUNCTIONAL COLOR VARIABLES
// $color-shadow-light: rgba($color-white, 0.5);
$box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
$box-shadow-light: 0 0 50px 0 rgba(180, 180, 180, 0.1);

$color-shadow-black: rgba($color-black, 0.6);
