.la-nav {
  background: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  padding: 10px;

  @include responsive-sm {
    flex-direction: column;
  }
  @include responsive-xs {
    flex-direction: column;
  }

  .la-nav__tabs {
    display: flex;
    justify-self: start;
  }

  .la-nav__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .dropdown {
      position: relative;
      display: inline-block;

      &:hover .dropdown-content {
        display: block;
      }

      button {
        border: none;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      .dropdown-content a {
        background: #f1f1f1;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background: #ffffff;
          font-weight: 600;
        }
      }
    }

    // .la-nav__item:nth-child(1),
    .la-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .la-nav__tab,
  .la-nav__item {
    padding: 10px;
    align-items: center;
  }
}
