nav {
  background: orange;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;

  .la-nav__tabs {
    display: flex;
    align-items: center;
    // grid-template-columns: repeat(4, 120px);
  }

  .la-nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // grid-template-columns: repeat(3, 120px);

    .la-nav__tab {
      padding-left: 20px;
    }
  }
}
