.la-sidebar {
  // background: plum;
  grid-area: sidebar;
  padding: 10px;
  border-right: 2px solid $color-secondary;

  @include responsive-sm {
  }

  .la-sidebar__logo {
    grid-template-rows: 10vh;
    height: 40px;
    background-image: url("asset/logo-BL.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .la-sidebar__tabs {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .la-sidebar__tab {
      padding: 15px 0;
      cursor: pointer;

      &:hover {
        color: $color-blue;
        align-items: center;
        border-left: 2px solid $color-blue;
      }
    }
  }
}
